<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BBSaveOverwrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BBSaveOverwrite.Properties.Settings>
            <setting name="SourceFolderSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="DestFolderSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="DualSenseHotkeysSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArchiveFolderSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadHKMod1" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="LoadHKMod2" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="LoadHKMod3" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="BackupHKMod1" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="BackupHKMod2" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="BackupHKMod3" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="ArchiveHKMod1" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="ArchiveHKMod2" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="ArchiveHKMod3" serializeAs="String">
                <value>-</value>
            </setting>
        </BBSaveOverwrite.Properties.Settings>
    </userSettings>
</configuration>